@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
